/*`sm` applies to x-small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    #headerBar>div {
        padding: 0 20px;
    }
    .top-page-banner-caption {
        padding-bottom: 50px;
    }
    .top-page-banner-caption-heading {
        font-size: 50px;
        line-height: 50px;
    }
    .top-page-services-header-heading {
        font-size: 50px;
        line-height: 50px;
    }
    .main-banner .heading {
        font-size: 50px;
        line-height: 50px;
    }
    .top-page-services-items {
        grid-template-columns: repeat(1, 1fr);
    }
    .top-page-services-card>div {
        padding: 5px 0;
    }
    .top-page-about-header-box {
        background: #fff;
    }
    .top-page-about-header {
        grid-template-columns: repeat(1, 1fr);
    }
    .section-contact .info .item {
        width: 100%;
    }
    .contact-form {
        margin-top: 20px;
        padding: 10px;
    }
    .href-arrow {
        padding-right: 30px;
    }
    .top-page-about-footer-caption .caption {
        font-size: 20px;
        padding: 10px;
    }
}
