export APP_NAME="__APP_NAME__"
export DEBUG="true"
export APP_ENCODING="UTF-8"
export APP_DEFAULT_LOCALE="en_US"
export APP_DEFAULT_TIMEZONE="Asia/Ho_Chi_Minh"
export SECURITY_SALT="__SALT__"

#Email configure
export EMAIL_HOST=""
export EMAIL_PORT=""
export EMAIL_USERNAME=""
export EMAIL_LOGIN_PASSWORD=""
export EMAIL_PASSWORD=""
export EMAIL_CLASSNAME=""
export EMAIL_TLS=false
export EMAIL_TO=""
